
{% extends "base.html" %}

{% block announce %}
  {% if config.theme.language == "fa" %}
  لطفا جهت دسترسی به آخرین اخبار ما را دنبال کنید: 
  {% else %}
  Please follow us to keep pace with the latest news:
  {% endif %}
  <a class="text-secondary" href="https://github.com/hiddify/hiddify-manager/wiki">
      <span class="twemoji">
        {% include ".icons/fontawesome/brands/github.svg" %} 
        </span>
    
    </a> <a class="text-danger" href="https://youtube.com/@hiddify/videos">
        &nbsp; 
        <span class="twemoji">
        {% include ".icons/fontawesome/brands/youtube.svg" %} 
        </span>
      </a>

  <a class="text-primary" href="https://instagram.com/hiddify_com">
        &nbsp; 
        <span class="twemoji">
          {% include ".icons/fontawesome/brands/instagram.svg" %} 
          </span>
      </a>

      <a class="text-primary" href="https://twitter.com/intent/follow?screen_name=hiddify_com">
        &nbsp; 
        <span class="twemoji">
          {% include ".icons/fontawesome/brands/twitter.svg" %} 
          </span>
      </a>
      
      <a class="text-primary" href="https://t.me/hiddify">&nbsp; 
      <span class="twemoji">
        {% include ".icons/fontawesome/brands/telegram.svg" %} 
        </span>  
    </a>


{% endblock %}


{% block libs %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}

  <script src="https://guru-widget.pages.dev/guru_widget.latest.min.js" 
  data-text="Ask AI" 
  data-link="https://gurubase.io/g/hiddify-manager" 
  data-bg-color="#ffffff" 
  data-icon-url="https://avatars.githubusercontent.com/u/126981719?s=48&v=4" 
  data-font-color="#000000" 
  data-margins='{"bottom": "1rem", "right": "1rem"}'>
  </script>
  <!-- Add scripts that need to run afterwards here -->
{% endblock %}
