/* Step 2: Load the JURRA Font */
@font-face {
  font-family: 'Jura';
  src: url('fonts/Jura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fafafa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  text-align: left;
}

.profile-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'JURRA', sans-serif; /* Apply the JURRA font to the title */
}

.bio {
  font-size: 16px;
  margin-bottom: 5px;
}

.website-link {
  color: #3897f0;
  text-decoration: none;
  font-weight: bold;
}

.website-link:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Grid Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.post img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.post:hover img {
  transform: scale(1.05);
}

/* Mobile-specific styling */
@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 10px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
  }

  .post img {
    width: 100%;
    border-radius: 3px;
  }

  .profile-section {
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    text-align: center;
    margin-top: 10px;
  }
}
